{% extends "g4emma/base.html" %}

<!-- Title -->
{% block title %}{{ block.super }} - Simulation{% endblock %}

{% block js_links %}
{% load static %}
{{ block.super }}
<script src="{% static 'g4emma/forms_visibility_control.js' %}"></script>
<script src="{% static 'g4emma/form_messages.js' %}"></script>
{% endblock %}

<!-- Navigation -->
{% block nav_simulation_class %}nav-pill-active{% endblock %}
{% block nav_simulation_url %}#{% endblock %}

<!-- Main Content -->
{% block main_content %}

  <p id="submit-msg">Geant4 simulation of EMMA</p>

  {% if form.errors %}
    <p style="color: red;">
      Please correct the error{{ form.errors|pluralize }} below.
    </p>
  {% endif %}

  <p class=err-msg>{{ general_err_msg }}</p>
  <pre class=err-msg>{{ rigidity_err_msg }}</pre>

  <form id="sim_form" action="" method="post" novalidate>
    <ul>
      {% for input_form in forms_list %}
        <div class="{{input_form.name}}">
          {{ input_form.as_ul }}
        </div>
      {% endfor %}

    </ul>
    {% csrf_token %}
    <input type="submit" value="Submit">
  </form>

{% endblock %}
